**/.DS_Store
**/.Rhistory
**/*.RData
**/~$*.pptx
figures/
tables/
html/**/*.md
html/data/
html/figures/
html/images/source
html/rdata/
html/server_setup/
html/tables/
Module09_SampleQCViz_files/
Module11X_BonusContent_files/
html/images/source
Module11_DEVisualizations_files
source/rdata/
RunningData.RData
source/data
